{% extends "ubase.html" %} 
{% load static %}
{% block content %}

<style type="text/css">
            body{
                background-image: url("{% static 'img/bg.jpg' %}");
            }
</style>
<body bgcolor="black">
<div class="container"><center>
    <form action="{% url 'uform' %}" method="POST">
    	<font color="white">
    		<h1>Book Your Room</h1>
	      <fieldset style="height: 320px">
	        {% csrf_token %}
	        {{ uform.as_p }}
	        <br>
	        <button type="submit" class="btn btn-primary">Submit</button>
	      </fieldset>
	  	</font>
	  </form>
</div>
</body>
{% endblock %}